<div class="row">
  <div class="about col-md-6">
    <p class="flash"><%= notice %><%= alert %></p>
    このページはRuby on Rails学習用に作成しています。<br>
  </div>
  <div class="top-image col-md-6">
    <img src="<%= asset_path "b001.gif" %>">
  </div>
</div>
