// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  overflow-x: hidden;
}

.row {
  height: 400px;
  background-image: url("CorkBoard02.jpg");
  background-size: contain;
}

.top-image {
  width: 80%;
}

.flash {
  color: white;
}
