// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image {
  width: 100%;
  background-size: cover;
  background-image: url("CorkBoard02.jpg");
}
